// Styling colours 
$darkBlue: #00071C;
$lightBlue: #8ecae6;
$white: #fff;
$black: #000000;
$lightGrey: #757882;


// Styling fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');

// Font usage variables
$poppins: 'Poppins',
sans-serif;
$sourceSans: 'Source Sans Pro',
sans-serif;

// Media queries

$smallerScreens: 768px;

@mixin mobile {
    @media (max-width: #{$smallerScreens}) {
        @content;
    }
}

// Body styling
body {
    margin: 0;
    padding: 0;
    animation: fadeIn 3s;
    overflow-x: hidden;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

// Header styling
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    overflow-x: hidden;

    .logo {
        width: 7em;
        height: 7em;
        top: 0;
        position: absolute;
        float: none;

        @include mobile() {
            width: 75px;
            height: 75px;
            left: 0;
        }
    }

    nav {
        a {
            font-family: $poppins;
            text-decoration: none;
            padding: 15px;
            color: $lightBlue;
            float: right;
            align-items: center;
            a:last-child {
                padding-right: 10px;
            }

            @include mobile() {
                font-size: 12px;
                padding: 10px;
            }
        }

        a:hover {
            color: $white;
        }
    }
}

section {
    background-color: $darkBlue;
    height: 80vh;
    margin-top: -80px;
    border-bottom: 2px solid $lightGrey;

    h2 {
        font-family: $poppins;
        color: $white;
        position: absolute;
        top: 20%;
        left: 10%;
    }

    p {
        font-family: $poppins;
        color: $lightGrey;
        position: absolute;
        top: 30%;
        left: 10%;
        font-size: 36px;
    }
    
}




// Footer area styling
footer {
    display: grid;
    font-family: $poppins;
    height: 15vh;
    background-color: $darkBlue;
    color: $lightGrey;
    bottom: 0;
    overflow-x: hidden;

    @include mobile() {
        height: 20vh;
    }

    p {
        padding-left: 10%;

        @include mobile() {
            padding: 0;
            justify-content: center;
        }
    }
}
