// Styling colours 
$darkBlue: #00071C;
$lightBlue: #6a8b9b;
$white: #fff;
$black: #000000;
$lightGrey: #757882;
$orange: #FF664D;
$logofade: linear-gradient(90deg, rgba(255, 192, 74, 1) 0%, rgba(255, 153, 73, 1) 25%, rgba(255, 136, 72, 1) 50%, rgba(255, 123, 72, 1) 75%, rgba(255, 99, 71, 1) 100%);
$firstfade: linear-gradient(90deg, rgba(255, 192, 74, 1) 0%, rgba(255, 153, 73, 1) 25%);
$secondfade: linear-gradient(90deg, rgba(255, 153, 73, 1) 25%, rgba(255, 136, 72, 1) 50%);
$thirdfade: linear-gradient(90deg, rgba(255, 136, 72, 1) 50%, rgba(255, 123, 72, 1) 75%);
$fourthfade: linear-gradient(90deg, rgba(255, 123, 72, 1) 75%, rgba(255, 99, 71, 1) 100%);

// Styling fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');

// Font usage variables
$poppins: 'Poppins',
sans-serif;
$sourceSans: 'Source Sans Pro',
sans-serif;

// Media queries

$smallerScreens: 768px;

@mixin mobile {
    @media (max-width: #{$smallerScreens}) {
        @content;
    }
}

// Body styling
body {
    margin: 0;
    padding: 0;
}

// Header styling
header {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    animation: fadeIn 1s ease-in both;
    opacity: 0;

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate3d(0, -20%, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    div {
        margin: 0;
        padding: 0;

        .logo {
            position: absolute;
            border: none;

            @include mobile() {
                left: 0;
            }
        }

        .logoText1 {
            font-family: $poppins;
            color: #FFC04A;
            position: absolute;
            top: 26%;
            left: 12%;
            font-size: 2.5em;
            font-weight: 500;

        }

        .logoText2 {
            font-family: $poppins;
            color: #FF6347;
            position: absolute;
            top: 52%;
            left: 12.6%;
            font-size: 1.5em;
            font-weight: 500;
        }
    }

    nav {
        margin-top: 2.5%;

        @include mobile() {
            margin-left: 15%;
        }

        a {
            font-family: $poppins;
            text-decoration: none;
            padding: 15px;
            font-size: 1.4em;

            a:last-child {
                padding-right: 10px;
            }

            @include mobile() {
                font-size: 12px;
                padding: 5px;
            }
        }
    }
}

.navItem1 {
    background: rgb(255, 192, 74);
    background-color: $darkBlue;
    background-image: $firstfade;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navItem1:hover {
    background: $lightGrey;
    background-color: $lightGrey;
    background-image: $lightGrey;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navItem2 {
    background: rgb(255, 192, 74);
    background-color: $darkBlue;
    background-image: $secondfade;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navItem2:hover {
    background: $lightGrey;
    background-color: $lightGrey;
    background-image: $lightGrey;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navItem3 {
    background: rgb(255, 192, 74);
    background-color: $darkBlue;
    background-image: $thirdfade;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navItem3:hover {
    background: $lightGrey;
    background-color: $lightGrey;
    background-image: $lightGrey;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navItem4:hover {
    background: $lightGrey;
    background-color: $lightGrey;
    background-image: $lightGrey;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

hr {
    height: .25rem;
    width: 20%;
    margin: 0;
    background: $lightGrey;
    border: none;
    transition: .3s ease-in-out;

    @include mobile() {
        visibility: hidden;
    }
}

.navItem2:hover~hr {
    margin-left: 23%;
}

.navItem3:hover~hr {
    margin-left: 49%;
}

.navItem4:hover~hr {
    margin-left: 77%;
}

.active {
    background: $white;
    background-color: $white;
    background-image: $white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

// Section styling for the main area
main {
    height: 110vh;
    background-color: $darkBlue;
    margin-top: -310px;
    padding-bottom: 10%;

    @include mobile {
        margin-top: -310px;
        height: 150vh;
    }

    .banner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        top: 20%;
        left: 10%;
        width: 50%;
        font-family: $poppins;
        text-decoration: none;
        color: $lightGrey;
        opacity: 0;
        animation: fadeUp 2s ease-in both;

        @include mobile() {
            top: 20%;
            left: 5%;
            font-size: .5em;
            width: 90%;
        }

        @keyframes fadeUp {
            from {
                opacity: 0;
                transform: translate3d(0, 20%, 0);
            }

            to {
                opacity: 0.5;
                transform: translate3d(1, 10%, 0);
            }

            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        h1 {
            color: $lightGrey;
            font-size: 3em;

            @include mobile() {
                font-size: 30px;
            }
        }

        p {
            padding: 0;
            margin: 0;
            font-size: 1.5em;
            line-height: 2.5em;

            @include mobile() {
                font-size: 2em;
            }
        }

        .firstSpan {
            background: rgb(255, 192, 74);
            background-color: $darkBlue;
            background-image: $logofade;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        .secondSpan {
            background: rgb(255, 192, 74);
            background-color: rgb(255, 192, 74);
            background-image: rgb(255, 192, 74);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        a {
            text-decoration: none;
            background: rgb(255, 192, 74);
            background-color: $darkBlue;
            background-image: $logofade;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        a:hover {
            background: $white;
            background-color: $white;
            background-image: $white;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        .form {
            position: absolute;
            width: 50%;
            top: 55%;
            left: 80%;
            color: #fff;

            @include mobile() {
                top: 110%;
                left: 0%;
                width: 90%;
            }

            .form-control {
                width: 100%;
                font-size: medium;
                font-family: $poppins;
                text-align: left;
                padding-left: 5%;
            }

            button {
                padding: 1em;
            }
        }
    }
}

// Footer area styling
footer {
    display: grid;
    font-family: $poppins;
    height: 25vh;
    background-color: $darkBlue;
    color: $lightGrey;
    bottom: 0;
    overflow-x: hidden;
    font-size: 1.5em;

    @include mobile() {
        height: 30vh;
    }

    a {
        margin-left: 50%;
        margin-top: 1%;
        scroll-behavior: smooth;
    }

    p {
        padding-left: 10%;

        @include mobile() {
            padding: 0;
            justify-content: center;
        }
    }
}

// Animation properties to fade elements in About section on scroll
.fade-in-text {
    margin: 0;
    opacity: 0;
    transform: translateX(-120px);
    transition: 3s all ease-in-out;
}

.text-appear {
    opacity: 1;
    transform: translateY(0px);
}

.fade-in-text1 {
    margin: 0;
    opacity: 0;
    transform: translateX(-120px);
    transition: 3s all ease-in-out;
}

.text-appear1 {
    opacity: 1;
    transform: translateY(0px);
    margin-top: 5%;
}

.fade-in-text2 {
    margin: 0;
    opacity: 0;
    transform: translateX(-120px);
    transition: 3s all ease-in-out;
}

.text-appear2 {
    opacity: 1;
    transform: translateX(0px);
    margin-top: 5%;
}


article {
    margin-top: 5%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "projects contact";
    gap: 2em;
    padding-bottom: 5%;
    background-color: $lightGrey;
    justify-items: center;

    @include mobile() {
        grid-template-areas: "projects"
            "contact";
    }
}

.projectsLink {
    grid-area: projects;
    position: relative;
    text-decoration: none;
    font-family: $poppins;
    text-align: center;
    width: 400px;
    height: 400px;
    background-image: url("/images/projects-image.jpg");
    background-size: cover;
    border-radius: 5px;
    color: $white;
    filter: grayscale(100%);

    @include mobile() {
        width: 300px;
        height: 200px;
    }

    p {
        position: absolute;
        left: 35%;
        top: 35%;
        font-size: 36px;

        @include mobile() {
            top: 20%;
            left: 30%;
        }
    }
}

.projectsLink:hover {
    transition: all .5s;
    transform: scale(1.1);
    filter: none;

    p {
        color: red;
        background-color: $white;
    }
}

.contactsLink {
    grid-area: contact;
    position: relative;
    text-decoration: none;
    font-family: $poppins;
    text-align: center;
    width: 400px;
    height: 400px;
    background-image: url("/images/projects-image.jpg");
    background-size: cover;
    border-radius: 5px;
    color: $white;
    filter: grayscale(100%);

    @include mobile() {
        width: 300px;
        height: 200px;
    }

    p {
        position: absolute;
        left: 25%;
        top: 35%;
        font-size: 36px;

        @include mobile() {
            top: 20%;
            left: 20%;
        }
    }
}

.contactsLink:hover {
    transition: all .5s;
    transform: scale(1.1);
    filter: none;

    p {
        color: red;
        background-color: $white;
    }
}

// Styling for the return to top of page button
#topButton {
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $fourthfade;
    box-shadow: 0 0 10px $lightBlue;
    color: $white;
    outline: none;
    border: none;
}

#topButton:active {
    background: #6a8b9b;
}