@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap");
body {
  margin: 0;
  padding: 0;
}

.content {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  will-change: transform;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

header div {
  margin: 0;
  padding: 0;
}

header div .logo {
  position: absolute;
  border: none;
}

@media (max-width: 768px) {
  header div .logo {
    left: 0;
  }
}

header div .logoText1 {
  font-family: "Poppins", sans-serif;
  color: #FFC04A;
  position: absolute;
  top: 26%;
  left: 12%;
  font-size: 2.5em;
  font-weight: 500;
}

header div .logoText2 {
  font-family: "Poppins", sans-serif;
  color: #FF6347;
  position: absolute;
  top: 52%;
  left: 12.6%;
  font-size: 1.5em;
  font-weight: 500;
}

header nav {
  margin-top: 2.5%;
}

@media (max-width: 768px) {
  header nav {
    margin-left: 15%;
  }
}

header nav a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 15px;
  font-size: 1.4em;
}

header nav a a:last-child {
  padding-right: 10px;
}

@media (max-width: 768px) {
  header nav a {
    font-size: 12px;
    padding: 5px;
  }
}

.navItem1 {
  background: #ffc04a;
  background-color: #00071C;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc04a), color-stop(25%, #ff9949));
  background-image: linear-gradient(90deg, #ffc04a 0%, #ff9949 25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem1:hover {
  background: #757882;
  background-color: #757882;
  background-image: #757882;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem2 {
  background: #ffc04a;
  background-color: #00071C;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #ff9949), color-stop(50%, #ff8848));
  background-image: linear-gradient(90deg, #ff9949 25%, #ff8848 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem2:hover {
  background: #757882;
  background-color: #757882;
  background-image: #757882;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem3 {
  background: #ffc04a;
  background-color: #00071C;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ff8848), color-stop(75%, #ff7b48));
  background-image: linear-gradient(90deg, #ff8848 50%, #ff7b48 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem3:hover {
  background: #757882;
  background-color: #757882;
  background-image: #757882;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem4 {
  background: #ffc04a;
  background-color: #00071C;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(75%, #ff7b48), to(tomato));
  background-image: linear-gradient(90deg, #ff7b48 75%, tomato 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem4:hover {
  background: #757882;
  background-color: #757882;
  background-image: #757882;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

hr {
  height: .25rem;
  width: 20%;
  margin: 0;
  background: #757882;
  border: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media (max-width: 768px) {
  hr {
    visibility: hidden;
  }
}

.navItem2:hover ~ hr {
  margin-left: 23%;
}

.navItem3:hover ~ hr {
  margin-left: 49%;
}

.navItem4:hover ~ hr {
  margin-left: 77%;
}

section {
  height: 110vh;
  background-color: #00071C;
  margin-top: -310px;
}

@media (max-width: 768px) {
  section {
    margin-top: -310px;
    height: 120vh;
  }
}

section .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 20%;
  left: 10%;
  width: 50%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #757882;
  opacity: 0;
  -webkit-animation: fadeUp 2s ease-in both;
          animation: fadeUp 2s ease-in both;
}

@media (max-width: 768px) {
  section .banner {
    top: 15%;
    font-size: .5em;
  }
}

@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translate3d(1, 10%, 0);
            transform: translate3d(1, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translate3d(1, 10%, 0);
            transform: translate3d(1, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

section .banner h1 {
  color: #757882;
  font-size: 3em;
}

@media (max-width: 768px) {
  section .banner h1 {
    font-size: 30px;
  }
}

section .banner p {
  font-size: 1.5em;
}

section .banner .firstSpan {
  background: #ffc04a;
  background-color: #00071C;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc04a), color-stop(25%, #ff9949), color-stop(50%, #ff8848), color-stop(75%, #ff7b48), to(tomato));
  background-image: linear-gradient(90deg, #ffc04a 0%, #ff9949 25%, #ff8848 50%, #ff7b48 75%, tomato 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

section .banner .secondSpan {
  background: #ffc04a;
  background-color: #ffc04a;
  background-image: #ffc04a;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

section .banner a {
  text-decoration: none;
  color: #00071C;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#ffc04a), color-stop(25%, #ff9949), color-stop(50%, #ff8848), color-stop(75%, #ff7b48), to(tomato));
  background: linear-gradient(90deg, #ffc04a 0%, #ff9949 25%, #ff8848 50%, #ff7b48 75%, tomato 100%);
  width: 6em;
  margin-top: 5%;
  font-size: 1.5em;
}

section .banner a:hover {
  color: #757882;
}

section .sectionImage {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 20%;
  left: 70%;
  border-radius: 5px;
  opacity: 0;
  -webkit-animation: fadeUp 2s ease-in both;
          animation: fadeUp 2s ease-in both;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 768px) {
  section .sectionImage {
    margin-left: 20px;
    width: 30%;
  }
}

main {
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.about {
  grid-area: about;
  width: 100%;
  font-size: 3em;
  color: #00071C;
}

.about-text {
  grid-area: text1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  width: 100%;
  color: #00071C;
}

@media (max-width: 768px) {
  .about-text {
    width: 100%;
    font-size: 18px;
  }
}

.about-text2 {
  grid-area: text2;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  width: 100%;
  margin-top: -50px;
  color: #00071C;
}

@media (max-width: 768px) {
  .about-text2 {
    width: 100%;
    font-size: 18px;
  }
}

.projectsLink {
  grid-area: projectsLink;
  width: 400px;
  height: 400px;
}

.contactsLink {
  grid-area: contactsLink;
  width: 400px;
  height: 400px;
}

footer {
  display: -ms-grid;
  display: grid;
  font-family: "Poppins", sans-serif;
  height: 25vh;
  background-color: #00071C;
  color: #757882;
  bottom: 0;
  overflow-x: hidden;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  footer {
    height: 30vh;
  }
}

footer a {
  margin-left: 50%;
  margin-top: 1%;
  scroll-behavior: smooth;
}

footer p {
  padding-left: 10%;
}

@media (max-width: 768px) {
  footer p {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fade-in-text {
  margin: 0;
  opacity: 0;
  -webkit-transform: translateX(-120px);
          transform: translateX(-120px);
  -webkit-transition: 3s all ease-in-out;
  transition: 3s all ease-in-out;
}

.text-appear {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.fade-in-text1 {
  margin: 0;
  opacity: 0;
  -webkit-transform: translateX(-120px);
          transform: translateX(-120px);
  -webkit-transition: 3s all ease-in-out;
  transition: 3s all ease-in-out;
}

.text-appear1 {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  margin-top: 5%;
}

.fade-in-text2 {
  margin: 0;
  opacity: 0;
  -webkit-transform: translateX(-120px);
          transform: translateX(-120px);
  -webkit-transition: 3s all ease-in-out;
  transition: 3s all ease-in-out;
}

.text-appear2 {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  margin-top: 5%;
}

article {
  margin-top: 5%;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "projects contact";
  gap: 2em;
  padding-bottom: 5%;
  background-color: #757882;
  justify-items: center;
}

@media (max-width: 768px) {
  article {
        grid-template-areas: "projects" "contact";
  }
}

.projectsLink {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: projects;
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 400px;
  height: 400px;
  background-image: url("/images/projects-image.jpg");
  background-size: cover;
  border-radius: 5px;
  color: #fff;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (max-width: 768px) {
  .projectsLink {
    width: 300px;
    height: 200px;
  }
}

.projectsLink p {
  position: absolute;
  left: 35%;
  top: 35%;
  font-size: 36px;
}

@media (max-width: 768px) {
  .projectsLink p {
    top: 20%;
    left: 30%;
  }
}

.projectsLink:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: none;
          filter: none;
}

.projectsLink:hover p {
  color: red;
  background-color: #fff;
}

.contactsLink {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contact;
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 400px;
  height: 400px;
  background-image: url("/images/projects-image.jpg");
  background-size: cover;
  border-radius: 5px;
  color: #fff;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (max-width: 768px) {
  .contactsLink {
    width: 300px;
    height: 200px;
  }
}

.contactsLink p {
  position: absolute;
  left: 25%;
  top: 35%;
  font-size: 36px;
}

@media (max-width: 768px) {
  .contactsLink p {
    top: 20%;
    left: 20%;
  }
}

.contactsLink:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: none;
          filter: none;
}

.contactsLink:hover p {
  color: red;
  background-color: #fff;
}

#topButton {
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(75%, #ff7b48), to(tomato));
  background: linear-gradient(90deg, #ff7b48 75%, tomato 100%);
  -webkit-box-shadow: 0 0 10px #6a8b9b;
          box-shadow: 0 0 10px #6a8b9b;
  color: #fff;
  outline: none;
  border: none;
}

#topButton:active {
  background: #6a8b9b;
}
/*# sourceMappingURL=index.css.map */