// Styling colours 
$darkBlue: #00071C;
$lightBlue: #6a8b9b;
$white: #fff;
$black: #000000;
$lightGrey: #757882;
$orange: #FF664D;
$logofade: linear-gradient(90deg, rgba(255, 192, 74, 1) 0%, rgba(255, 153, 73, 1) 25%, rgba(255, 136, 72, 1) 50%, rgba(255, 123, 72, 1) 75%, rgba(255, 99, 71, 1) 100%);
$firstfade: linear-gradient(90deg, rgba(255, 192, 74, 1) 0%, rgba(255, 153, 73, 1) 25%);
$secondfade: linear-gradient(90deg, rgba(255, 153, 73, 1) 25%, rgba(255, 136, 72, 1) 50%);
$thirdfade: linear-gradient(90deg, rgba(255, 136, 72, 1) 50%, rgba(255, 123, 72, 1) 75%);
$fourthfade: linear-gradient(90deg, rgba(255, 123, 72, 1) 75%, rgba(255, 99, 71, 1) 100%);

// Styling fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');

// Font usage variables
$poppins: 'Poppins',
sans-serif;
$sourceSans: 'Source Sans Pro',
sans-serif;

// Media queries

$smallerScreens: 768px;

@mixin mobile {
    @media (max-width: #{$smallerScreens}) {
        @content;
    }
}

// Body styling
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.content {
    transition: transform .5s;
    will-change: transform;
    margin: 0;
    padding: 0;
}

// Header styling
header {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    animation: fadeIn 1s ease-in both;
    opacity: 0;

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate3d(0, -20%, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    .logo {
        width: 7em;
        height: 7em;
        position: absolute;

        @include mobile() {
            width: 75px;
            height: 75px;
            left: 0;
        }
    }

    nav {
        margin-left: 60%;
        margin-top: 2.5%;

        @include mobile() {
            margin-left: 15%;
        }

        a {
            font-family: $poppins;
            text-decoration: none;
            padding: 15px;

            a:last-child {
                padding-right: 10px;
            }

            @include mobile() {
                font-size: 12px;
                padding: 5px;
            }
        }
    }
}

.navItem1 {
    background: rgb(255, 192, 74);
    background-color: $darkBlue;
    background-image: $firstfade;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navItem1:hover {
    background: $white;
    background-color: $white;
    background-image: $white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navItem2 {
    background: rgb(255, 192, 74);
    background-color: $darkBlue;
    background-image: $secondfade;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navItem3 {
    background: rgb(255, 192, 74);
    background-color: $darkBlue;
    background-image: $thirdfade;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.navItem4 {
    background: rgb(255, 192, 74);
    background-color: $darkBlue;
    background-image: $fourthfade;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

// Section styling
section {
    height: 100vh;
    background-color: $darkBlue;
    margin-top: -100px;
    overflow-x: hidden;

    @include mobile {
        margin-top: -150px;
        height: 110vh;
    }

    .banner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 10%;
        font-family: $poppins;
        text-decoration: none;
        color: $lightGrey;
        opacity: 0;
        animation: fadeUp 2s ease-in both;

        @keyframes fadeUp {
            from {
                opacity: 0;
                transform: translate3d(0, 20%, 0);
            }

            to {
                opacity: 0.5;
                transform: translate3d(1, 10%, 0);
            }

            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        h1 {
            color: $lightGrey;
        }

        .firstSpan {
            background: rgb(255, 192, 74);
            background-color: $darkBlue;
            background-image: $logofade;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        .secondSpan {
            background: rgb(255, 192, 74);
            background-color: rgb(255, 192, 74);
            background-image: rgb(255, 192, 74);;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        a {
            text-decoration: none;
            color: $white;
            padding: 20px;
            border-radius: 1000px;
            text-align: center;
            background-color: $lightBlue;
            width: 100px;
            margin-top: 5%;
        }

        a:hover {
            color: $black;
            background-color: #6a8b9b;
        }
    }

    .sectionImage {
        width: 25%;
        height: 25%;
        object-fit: cover;
        position: absolute;
        top: 10%;
        left: 70%;
        clip-path: circle(25% at 35% 43%);

        opacity: 0;
        animation: fadeUp 2s ease-in both;
        transition-timing-function: ease;

        @keyframes fadeUp {
            from {
                opacity: 0;
                transform: translate3d(0, 20%, 0);
            }

            to {
                opacity: 0.5;
                transform: translate3d(1, 10%, 0);
            }

            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        @include mobile() {
            margin-left: 20px;
            width: 30%;
        }
    }
}

// Main area styling, setting up grid area and columns and stylings
main {
    font-family: $sourceSans;
    overflow-x: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "about about about aboutImage aboutImage"
        "projectsImage projectsImage  projects projects projects"
        "contact contact contact contactImage contactImage";

    @include mobile() {
        grid-template-columns: 1fr;
        grid-template-areas:
            "about about"
            "aboutImage aboutImage"
            "projects projects"
            "projectsImage projectsImage"
            "contact contact"
            "contactImage contactImage";
    }
}

.about {
    grid-area: about;
    width: 100%;

    .about-text {
        font-family: $sourceSans;
        font-weight: 300;
        font-size: 24px;
        width: 100%;

        @include mobile() {
            width: 100%;
            font-size: 18px;
        }

        a {
            color: $lightBlue;
            margin-left: 10px;
        }
    }
}

.aboutImage {
    grid-area: aboutImage;
    width: 400px;
    height: 400px;
    object-fit: cover;
    clip-path: circle(66.3% at 66% 36%);

    @include mobile() {
        width: 100%;
        margin: 0;
    }
}

.projectsImage {
    grid-area: projectsImage;
    width: 400px;
    height: 400px;
    object-fit: cover;
    clip-path: circle(57.6% at 22% 67%);
    filter: grayscale(75%);

    @include mobile() {
        width: 100%;
        margin: 0;
    }
}

.projects {
    grid-area: projects;

    .projects-text {
        font-family: $sourceSans;
        font-weight: 300;
        font-size: 24px;
        width: 100%;

        @include mobile() {
            width: 100%;
            font-size: 18px;
        }

        a {
            color: $lightBlue;
            margin-left: 10px;
        }
    }
}

.contact {
    grid-area: contact;
    padding-top: 5%;

    .contact-text {
        font-family: $sourceSans;
        font-weight: 300;
        font-size: 24px;
        width: 100%;

        @include mobile() {
            width: 100%;
            font-size: 18px;
        }

        a {
            color: $lightBlue;
            margin-left: 10px;
        }
    }
}

.contactImage {
    grid-area: contactImage;
    clip-path: circle(50% at 69% 65%);
    padding-bottom: 100px;
    width: 400px;
    height: 400px;


    @include mobile() {
        width: 100%;
        margin: 0;
    }
}

.read-more:hover {
    color: $darkBlue;
}

// Footer area styling
footer {
    display: grid;
    font-family: $poppins;
    height: 25vh;
    background-color: $darkBlue;
    color: $lightGrey;
    bottom: 0;
    overflow-x: hidden;

    @include mobile() {
        height: 30vh;
    }

    a {
        margin-left: 50%;
        margin-top: 1%;
        scroll-behavior: smooth;
    }

    p {
        padding-left: 10%;

        @include mobile() {
            padding: 0;
            justify-content: center;
        }
    }
}

// Animation properties to fade elements in  About section on scroll
.fade-in-text {
    margin: 0;
    opacity: 0;
    transform: translateX(-120px);
    transition: 3s all ease-in-out;
}

.text-appear {
    opacity: 1;
    transform: translateY(0px);
}

.fade-in-text2 {
    margin: 0;
    opacity: 0;
    transform: translateX(200px);
    transition: 3s all ease-in-out;
}

.text-appear2 {
    opacity: 1;
    transform: translateX(80px);

    @include mobile() {
        transform: translateX(0px);

    }
}

// Fadce in property stylings for projects on index page
.fade-in-project {
    margin: 0;
    opacity: 0;
    transform: translateX(140px);
    transition: 3s all ease-in-out;
}

.text-appear-project {
    opacity: 1;
    transform: translateY(0px);
}

.fade-in-project2 {
    margin: 0;
    opacity: 0;
    transform: translateX(-120px);
    transition: 3s all ease-in-out;
}

.image-appear-project {
    opacity: 1;
    transform: translateY(0px);
}

// Animation properties to fade elements in Contact section on scroll
.fade-in-contact {
    margin: 0;
    opacity: 0;
    transform: translateX(-120px);
    transition: 3s all ease-in-out;
}

.text-appear-contact {
    opacity: 1;
    transform: translateY(0px);
}

.fade-in-contact-image {
    margin: 0;
    opacity: 0;
    transform: translateX(200px);
    transition: 3s all ease-in-out;
}

.image-appear-contact {
    opacity: 1;
    transform: translateX(80px);

    @include mobile() {
        transform: translateX(0px);

    }
}

#topButton {
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $fourthfade;
    box-shadow: 0 0 10px $lightBlue;
    color: $white;
    outline: none;
    border: none;
}

#topButton:active {
    background: #6a8b9b;
}

// #topButton:hover {
//     img {
//         filter: grayscale(100%);
//     }
// }