@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap");
body {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

header div {
  margin: 0;
  padding: 0;
}

header div .logo {
  position: absolute;
  border: none;
}

@media (max-width: 768px) {
  header div .logo {
    left: 0;
  }
}

header div .logoText1 {
  font-family: "Poppins", sans-serif;
  color: #FFC04A;
  position: absolute;
  top: 26%;
  left: 12%;
  font-size: 2.5em;
  font-weight: 500;
}

header div .logoText2 {
  font-family: "Poppins", sans-serif;
  color: #FF6347;
  position: absolute;
  top: 52%;
  left: 12.6%;
  font-size: 1.5em;
  font-weight: 500;
}

header nav {
  margin-top: 2.5%;
}

@media (max-width: 768px) {
  header nav {
    margin-left: 10%;
  }
}

header nav a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 15px;
  font-size: 1.4em;
}

header nav a a:last-child {
  padding-right: 10px;
}

@media (max-width: 768px) {
  header nav a {
    font-size: 18px;
    padding: 5px;
  }
}

.navItem1 {
  background: #ffc04a;
  background-color: #00071C;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc04a), color-stop(25%, #ff9949));
  background-image: linear-gradient(90deg, #ffc04a 0%, #ff9949 25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem1:hover {
  background: #757882;
  background-color: #757882;
  background-image: #757882;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem2 {
  background: #ffc04a;
  background-color: #00071C;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #ff9949), color-stop(50%, #ff8848));
  background-image: linear-gradient(90deg, #ff9949 25%, #ff8848 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem2:hover {
  background: #757882;
  background-color: #757882;
  background-image: #757882;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem3 {
  background: #ffc04a;
  background-color: #00071C;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ff8848), color-stop(75%, #ff7b48));
  background-image: linear-gradient(90deg, #ff8848 50%, #ff7b48 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem3:hover {
  background: #757882;
  background-color: #757882;
  background-image: #757882;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem4 {
  background: #ffc04a;
  background-color: #00071C;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(75%, #ff7b48), to(tomato));
  background-image: linear-gradient(90deg, #ff7b48 75%, tomato 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navItem4:hover {
  background: #757882;
  background-color: #757882;
  background-image: #757882;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

hr {
  height: .25rem;
  width: 20%;
  margin: 0;
  background: #757882;
  border: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media (max-width: 768px) {
  hr {
    visibility: hidden;
  }
}

.navItem2:hover ~ hr {
  margin-left: 23%;
}

.navItem3:hover ~ hr {
  margin-left: 49%;
}

.navItem4:hover ~ hr {
  margin-left: 77%;
}

.active {
  background: #fff;
  background-color: #fff;
  background-image: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

section {
  height: 90vh;
  background-color: #00071C;
  margin-top: -310px;
  padding-bottom: 10%;
}

@media (max-width: 768px) {
  section {
    margin-top: -310px;
    height: 100vh;
  }
}

section .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 50%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #757882;
  opacity: 0;
  -webkit-animation: fadeUp 2s ease-in both;
          animation: fadeUp 2s ease-in both;
}

@media (max-width: 768px) {
  section .banner {
    top: 30%;
    left: 5%;
    font-size: .5em;
    width: 90%;
  }
}

@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translate3d(1, 10%, 0);
            transform: translate3d(1, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translate3d(1, 10%, 0);
            transform: translate3d(1, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

section .banner h1 {
  color: #757882;
  font-size: 3em;
}

@media (max-width: 768px) {
  section .banner h1 {
    font-size: 30px;
  }
}

section .banner p {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  line-height: 2.5em;
}

@media (max-width: 768px) {
  section .banner p {
    font-size: 2em;
  }
}

section .banner .firstSpan {
  background: #ffc04a;
  background-color: #00071C;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc04a), color-stop(25%, #ff9949), color-stop(50%, #ff8848), color-stop(75%, #ff7b48), to(tomato));
  background-image: linear-gradient(90deg, #ffc04a 0%, #ff9949 25%, #ff8848 50%, #ff7b48 75%, tomato 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

section .banner .secondSpan {
  background: #ffc04a;
  background-color: #ffc04a;
  background-image: #ffc04a;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

section .banner a {
  text-decoration: none;
  background: #ffc04a;
  background-color: #00071C;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc04a), color-stop(25%, #ff9949), color-stop(50%, #ff8848), color-stop(75%, #ff7b48), to(tomato));
  background-image: linear-gradient(90deg, #ffc04a 0%, #ff9949 25%, #ff8848 50%, #ff7b48 75%, tomato 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

section .banner a:hover {
  background: #fff;
  background-color: #fff;
  background-image: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

section .banner .form {
  position: absolute;
  width: 50%;
  top: 55%;
  left: 80%;
  color: #fff;
}

@media (max-width: 768px) {
  section .banner .form {
    top: 110%;
    left: 0%;
    width: 90%;
  }
}

section .banner .form .form-control {
  width: 100%;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  text-align: left;
  padding-left: 5%;
}

section .banner .form button {
  padding: 1em;
}

main {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

main .project-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1em;
  padding-bottom: 10%;
      grid-template-areas: 'img img h2 h2' 'img img p1 p1' 'img img p2 p3' 'img img p4 p4' 'img img casestudy applink';
}

@media (max-width: 768px) {
  main .project-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'img' 'h2' 'p1' 'p2' 'p3' 'p4' 'casestudy' 'applink';
    padding-bottom: 40%;
  }
}

main .project-wrapper img {
  max-width: 100%;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img;
  border-radius: 5px;
  overflow: hidden;
}

main .project-wrapper h2 {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: h2;
  font-size: 2em;
}

@media (max-width: 768px) {
  main .project-wrapper h2 {
    font-size: 1em;
  }
}

main .project-wrapper p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}

@media (max-width: 768px) {
  main .project-wrapper p {
    font-size: 1em;
  }
}

main .project-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  color: #000000;
  background-color: #757882;
  border-radius: 5px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

@media (max-width: 768px) {
  main .project-wrapper a {
    font-size: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

main .project-wrapper a:hover {
  color: #fff;
}

main .project-wrapper .casestudy {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: casestudy;
}

main .project-wrapper .applink {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: applink;
}

main .project-wrapper .p1 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: p1;
}

main .project-wrapper .p2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: p2;
}

main .project-wrapper .p3 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: p3;
}

main .project-wrapper .p4 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: p4;
}

footer {
  display: -ms-grid;
  display: grid;
  font-family: "Poppins", sans-serif;
  height: 25vh;
  background-color: #00071C;
  color: #757882;
  bottom: 0;
  overflow-x: hidden;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  footer {
    height: 30vh;
  }
}

footer p {
  padding-left: 10%;
}

@media (max-width: 768px) {
  footer p {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#topButton {
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(75%, #ff7b48), to(tomato));
  background: linear-gradient(90deg, #ff7b48 75%, tomato 100%);
  -webkit-box-shadow: 0 0 10px #6a8b9b;
          box-shadow: 0 0 10px #6a8b9b;
  color: #fff;
  outline: none;
  border: none;
}

#topButton:active {
  background: #6a8b9b;
}
/*# sourceMappingURL=projects.css.map */